/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  background-color: #222222;
  display: flex;
  justify-content: center;
  height: 100vh;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main-container {
  inline-size: 334px;
  background-color: #ffffff;
  margin-block-start: 20px;
  margin-block-end: 20px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}*/

html {
  background-color: #222222;
}

body {
  background-color: #ffffff;
  inline-size: 334px;
  margin: 20px auto;
  height: calc(100vh - 40px);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 10px 20px; /* block: 10px; inline: 20px; */
}