.order-message-container.loaded {
  background-color: #F0F2FA;
  color: #007AFF;
  padding: 10px;
}

.input-top.disabled {
  background-color: #F2F4F5;
  border: 1px solid #DDE2E5;
  border-radius: 8px;
}

.label-order.disabled {
  color: rgba(94, 99, 102, 0.6);
}

.checked {
  color: #007AFF;
}

.order-not-found {
  color: red;
}

#frame-load-order.hidden,
#frame-scan-barcode.hidden {
  display: none;
}

.transition {
  transition: margin-top 0.5s ease;
}