body.start {
  /* Uncomment this if you want the start screen to be vertically-aligned. */
  /* justify-content: center; */
}

header.hidden,
#frame-order-message.hidden,
.load-btn-container.hidden,
#frame-load-order.hidden,
#frame-SKU-container.hidden,
#frame-progress-container.hidden,
#frame-scan-barcode.hidden {
  display: none;

  /*opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  gap: 0;
  overflow: hidden;
  visibility: collapse;
  pointer-events: none; /* Prevent interaction with hidden elements */
}

.transition {
  /*transition: margin-top 0.5s ease;*/
  transition: opacity 0.5s ease, height 0.5s ease;
  opacity: 1;
  /*height: auto;*/
}

.loaded {
  color: #007AFF;
}

.input-top.disabled {
  background-color: #F2F4F5;
  border: 1px solid #DDE2E5;
  border-radius: 8px;
}

.label-order.disabled {
  color: rgba(94, 99, 102, 0.6);
}

.success-message {
  color: #007AFF;
  /*color: #33a24e;*/
  text-align: center;
}

.order-complete {
  color: #33a24e;
  font-weight: 600;
}

.error-message {
  color: red;
  text-align: center;
}

#frame-SKU-container p:not(:last-child) {
  border-bottom: 1px dashed rgba(60, 60, 67, 0.3);
  padding-bottom: 4px;
}

#frame-SKU-container p.checked-sku {
  text-decoration: line-through;
  color: rgba(60, 60, 67, 0.3);
  border-bottom: 1px dashed rgba(60, 60, 67, 0.1);
}

/* Animations */
.load-btn-container {
  /* Add transition for animation */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Define hover state with subtle animation */
.load-btn-container:hover {
  background-color: rgba(240, 240, 240, 0.1);
  transform: scale(0.99);
}

/* Define active state with subtle animation */
.load-btn-container:active {
  background-color: rgba(240, 240, 240, 0.2);
  transform: scale(0.97);
}